-
    function generateDate (post) {
        
        const monthString = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        const numFormat = `${post.year}-${post.month}-${post.day}`;
        const stringFormat = `${monthString[post.month - 1]} ${post.day} ${post.year}`
        
        return {numFormat, stringFormat};
        
    };
