include ./curated.jade

section#work.snippets
    
    for item in snippets
        hr.structure--divider
        article.snippet
            a.snippet__link(href='/#{item.href}.html'): h2.snippet__heading #{item.heading}
            span.snippet__hashtag.type--smallCap #{item.type}
            time.snippet__date.type--smallCap(datetime='#{item.date.numFormat}') #{item.date.stringFormat}
